body {
  --space-xs: 2px;
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --gray-0: #f3f4f6;
  --gray-1: #cbd5e1;
  --gray-2: #64748b;
  --gray-3: #1f2937;
  --blue-1: #7dd3fc;
  --blue-2: #0284c7;
  --blue-3: #0369a1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  gap: var(--screen-md);
  padding: var(--space-sm) var(--space-lg);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
}

.title {
  margin: 10px;
  color: var(--gray-3);
}

.add-app {
  background-color: transparent;
  border: 1px var(--blue-3) solid;
  border-radius: var(--space-sm);
  color: var(--blue-3);
  padding: var(--space-md);
}

.search-wrapper {
  position: relative;
  display: flex;
  min-width: 300px;
}

.search-icon {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 16px;
}

.search-input {
  border: 1px solid var(--gray-2);
  border-radius: var(--space-md);
  background-color: var(--gray-0);
  height: 32px;
  width: 100%;
  padding: 2px 30px 0;
  outline: 0;
}

.search-input:hover,
.search-input:focus {
  border: 1.5px solid var(--blue-3);
  background-color: white;
}

.tile-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0 var(--space-lg);
  position: relative;
  top: 86px;
}

.tile-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--space-sm);
  align-items: center;
  cursor: move;
  background-color: var(--gray-0);
  border: 1px var(--gray-2) solid;
  border-radius: var(--space-sm);
  text-align: left;
  padding-left: 0px;
  width: 100%;
  height: 100%;
}

.icon-wrapper {
  background-color: #fff;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-icon {
  width: 65%;
  height: 65%;
  border-radius: var(--space-md);
  background-color: var(--blue-2);
  color: white;
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

.tile-description {
  width: 75%;
  padding-left: var(--space-lg);
  color: var(--gray-3);
}

.tile-title {
  color: var(--blue-3);
}

.tile-move {
  padding: var(--space-sm);
  color: var(--gray-3);
}

.dragging {
  cursor: grabbing;
  border: 2px var(--blue-3) solid;
  opacity: 0.5;
}

@media (min-width: 600px) {
  .tile-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .header {
    flex-direction: row;
  }
}
